<div class="form-group">
  <input
    class="form-control form-control-lg"
    placeholder="Enter name"
    name="name"
    type="text"
    value="<%- user.name %>"
  />
</div>
<div class="form-group">
  <input
    class="form-control form-control-lg"
    placeholder="Enter age"
    name="age"
    type="number"
    value="<%- user.age %>"
    min="16"
    max="99"
  />
</div>
<div class="form-group">
  <select class="form-control form-control-lg" name="gender" id="">
    <option value="<%- user.gender %>" disabled selected>Select Gender</option>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
</div>
<div class="form-group">
  <select class="form-control form-control-lg" name="bloodGroup" id="">
    <option value="<%- user.bloodGroup %>" disabled selected>
      Select Blood Group
    </option>
    <option value="a+">A+</option>
    <option value="a-">A-</option>
    <option value="b+">B+</option>
    <option value="b-">B-</option>
    <option value="ab+">AB+</option>
    <option value="ab-">AB+</option>
    <option value="o+">O+</option>
    <option value="o-">O-</option>
    <option value="notsure">not sure</option>
  </select>
  <small class="form-text text-muted">Choose not sure when unaware</small>
</div>
<div class="form-group">
  <input
    class="form-control form-control-lg"
    placeholder="Enter email"
    name="email"
    type="email"
    value="<%- user.email %>"
  />
</div>
<div class="form-group">
  <input
    class="form-control form-control-lg"
    placeholder="Enter phone"
    name="phone"
    type="text"
    value="<%- user.phone %>"
  />
</div>
<div class="form-group" id="locationField">
  <input
    class="form-control form-control-lg"
    style="width: 100%"
    id="autocomplete"
    placeholder="Enter a city near you"
    onFocus="geolocate()"
    type="text"
  />
  <small class="form-text text-muted"
    >Enter the biggest city near you with COVID hospitals</small
  >
</div>
<div id="address">
  <div class="form-group">
    <input
      class="form-control form-control-lg"
      id="locality"
      name="locality"
      placeholder="Locality"
      value="<%- user.address.locality %>"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control form-control-lg"
      placeholder="State"
      id="administrative_area_level_1"
      name="state"
      value="<%- user.address.state %>"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control"
      id="postal_code"
      name="zipcode"
      placeholder="Zip Code"
      type="hidden"
      value="<%- user.address.zipcode %>"
    />
  </div>
  <div class="form-group">
    <input
      class="form-control form-control-lg"
      id="country"
      name="country"
      placeholder="Country"
      value="<%- user.address.country %>"
    />
  </div>
</div>
<button class="btn btn-lg btn-block btn-primary" type="submit">Submit</button>
<script src="js/googleAddressAutocomple.js"></script>
