<div class="row">
  <div id="main-wrapper" class="col-sm-12 col-md-12 col-lg-8">
    <div class="row justify-content-center">
      <div class="main col-sm-12 col-md-9 col-lg-8">
        <%- include("./partials/_dashboard_header.ejs") %>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="main col-sm-12 col-md-9 col-lg-8">
        <div class="heading-wrapper">
          <p class="heading h3">Search donors/seekers</p>
          <p class="paragraph">
            Use dropdown menu to search by Name, Blood Group or City
          </p>
        </div>
        <form action="/dashboard" method="GET">
          <div class="input-group searchbar">
            <input
              class="form-control form-control-lg"
              type="text"
              name="keyword"
              placeholder="Search by ..."
            />
            <div class="input-group-append">
              <select class="custom-select custom-select-lg" name="select">
                <option value="name">Name</option>
                <option value="bloodGroup">Blood</option>
                <option value="locality">City</option>
              </select>
            </div>
            <div class="input-group-append">
              <button class="btn btn-lg btn-primary" type="submit">
                Search
              </button>
            </div>
          </div>
          <div class="results">
            <% for ( const user of users){ %>
            <div class="block shadow-sm">
              <h4>
                <span class="label text-capitalize"><%- user.role %>:</span
                ><span class="data text-capitalize"><%- user.name %></span>
              </h4>
              <p>
                <span class="label">Age: </span
                ><span class="data"><%- user.age %></span>
              </p>
              <p>
                <span class="label">Gender: </span
                ><span class="data text-capitalize"><%- user.gender %></span>
              </p>
              <p>
                <span class="label">Blood Group: </span
                ><span class="data text-uppercase"><%- user.bloodGroup %></span>
              </p>
              <p>
                <span class="label">Email: </span
                ><span class="data"><%- user.email %></span>
              </p>
              <p>
                <span class="label">Phone: </span
                ><span class="data"><%- user.phone %></span>
              </p>
              <p>
                <span class="label">Address: </span
                ><span class="data text-capitalize"><%- user.address.locality %></span>
              </p>
              <p>
                <span class="label">.</span
                ><span class="data text-capitalize"><%- user.address.state %>, <%- user.address.country %></span>
              </p>
            </div>
            <% } %>
          </div>
        </form>
      </div>
      <!-- <div class="col-5"></div> -->
    </div>
  </div>
  <div class="sidebar col-sm-12 col-md-12 col-lg-4 hidden-lg-up vh-100 sticky-top">
    <div class="dashboard background vh-100">
      <div class="wrapper">
        <div class="main">
          <h3>Search Donors/Seekers</h3>
          <p>“Use dropdown menu to search for people by Name, Blood Group or City.”</p>  
        </div>
        <div class="foot">
          <p>Keep the user information private and secure.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>