<div class="row">
  <div id="sidebar-left" class="col-8">
    <div class="row">
      <%- include("./partials/dashHeader.ejs") %>
      <div id="enter-detail" class="col-7">
        <div class="heading-wrapper">
          <p class="heading h3 text-muted">Search donors/seekers</p>
          <p class="paragraph text-muted">
            Use dropdown menu to search by Name, Blood Group or City
          </p>
        </div>
        <form action="/dashboard" method="GET">
          <div class="input-group">
            <input
              class="form-control form-control-lg"
              type="text"
              name="keyword"
              placeholder="Search by ..."
            />
            <div class="input-group-append">
              <select class="custom-select custom-select-lg" name="searchBy">
                <option value="name">Name</option>
                <option value="bloodGroup">Blood Group</option>
                <option value="state">State</option>
              </select>
            </div>
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">Search</button>
            </div>
          </div>
          <div class="results">
            <% for ( const user of users){ %>
            <div class="block shadow-sm">
              <h4>
                <span class="label"><%- user.role %>:</span
                ><span class="data"><%- user.name %></span>
              </h4>
              <p>
                <span class="label">Age: </span
                ><span class="data"><%- user.age %></span>
              </p>
              <p>
                <span class="label">Gender: </span
                ><span class="data"><%- user.gender %></span>
              </p>
              <p>
                <span class="label">Blood Group: </span
                ><span class="data"><%- user.bloodGroup %></span>
              </p>
              <p>
                <span class="label">Email: </span
                ><span class="data"><%- user.email %></span>
              </p>
              <p>
                <span class="label">Phone: </span
                ><span class="data"><%- user.phone %></span>
              </p>
              <p>
                <span class="label">Address: </span
                ><span class="data"><%- user.address.state %></span>
              </p>
            </div>
            <% } %>
          </div>
        </form>
      </div>
      <div class="col-5"></div>
    </div>
  </div>
  <div id="sidebar-right" class="col-4 vh-100 sticky-top">
    <div id="sidebar-right-wrapper" class="vh-100"></div>
  </div>
</div>
